<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码  -- 胡萝呗</title>
    <link rel="stylesheet" href="/static/css/default.css">

    <script type="text/javascript" src="/static/js/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/axios0.24.0.js"></script>
    <script type="text/javascript" src="/static/js/pre_common.js"></script>
</head>
<body>
    <div class="header clearfix">
        <div class="container">
            <div class="where_am_i">
                <a href="/">首页</a> >> <a href={{ url('account:forget_password') }}>忘记密码</a>
            </div>
            <div class="search_bar" id="search_bar" v-cloak>
                <form action="/search" method="get">
                    <input type="text" class="search_input" :placeholder="search_place_holder" name="q" autocomplete="off">
                    <input type="submit" value="提交">
                </form>
            </div>
            <div class="user_info" id="user_info_bar" v-cloak>
                <div v-if="username">
                    <a class="username" href={{ url('account:profile') }}>[[ username ]]</a>
                    <a id="logout" href={{ url('account:logout') }}>退出</a>
                </div>
                <div v-else>
                    <a id="register" href={{ url('account:register') }}>注册</a>
                    <a id="login" href={{ url('account:login') }}>登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom">

        <form action ='{{ url('account:send_reset_email') }}' method="post">
            <p>我记得用户名: <input type="text" name="username" autocomplete="off" placeholder="不超过12位"
                           autofocus="autofocus" maxlength="12"></p>
            <p>我记得邮箱: <input disabled type="text" name="email" autocomplete="off" placeholder="不超过30位"><del> 由于邮箱允许重复 现在只支持用户名找回方式</del></p>

            <input type="submit" value="发送找回链接"> <input type="reset">
            <div>
                <a href="{{ url('account:register') }}"><p class='button_inline'>算了不找了 回注册页面</p></a>
                <a href="{{ url('account:login') }}"><p class='button_inline'>突然想起来了 回登录页面</p></a>
            </div>

        </form>

    </div>
    <script src="/static/js/common.js"></script>
</body>
</html>