<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js/"></script>
</head>
<body>
<div class="header clearfix">
    <div class="container">
        <div id="navigation0">一些个人代码<b>外链</b>
            <div class="works">
                <a target="_blank" href="https://github.com/ietar"><b>github</b></a>
                <a target="_blank" href="https://fishc.com.cn/thread-143822-1-1.html">减少欧非的抽红包</a>
                <a target="_blank" href="https://fishc.com.cn/thread-143394-1-1.html">模拟明日方舟抽卡</a>
                <a target="_blank" href="https://fishc.com.cn/thread-141601-1-1.html">发送文本邮件</a>
                <a target="_blank" href="https://fishc.com.cn/thread-141064-1-1.html">复习一下妹子图</a>
                <a target="_blank" href="https://fishc.com.cn/thread-134327-1-1.html">最大质因数算法优化</a>
                <a target="_blank" href="https://fishc.com.cn/thread-134199-1-1.html">豆瓣电影top250爬虫</a>
                <a target="_blank" href="https://fishc.com.cn/thread-133755-1-1.html">打飞机是男人的浪漫!</a>
            </div>
        </div>
        <div id="navigation1">1
            <div>
                <span>1</span><span>2</span><span>3</span><span>4</span>
            </div>
        </div>
        <div id="navigation2">2
            <div>
                <span>1</span><span>2</span><span>3</span><span>4</span>
            </div>
        </div>
        <div id="navigation3">3
            <div>
                <span>1</span><span>2</span><span>3</span><span>4</span>
            </div>
        </div>
        <div id="navigation4">4
            <div>
                <span>1</span><span>2</span><span>3</span><span>4</span>
            </div>
        </div>
        <div id="navigation5">5
            <div>
                <span>1</span><span>2</span><span>3</span><span>4</span>
            </div>
        </div>

        {% if username %}
            <div style="display:inline-flex;position:absolute;right:0;align-items:center;justify-content: center">
                <img style="display:inline" alt="头像" src="/media/{{img}}/" onclick="upload()" height=30px>
                <span style="display:inline;margin:0 0.5rem">{{username}}</span>
                <span style="display:inline"><a href="/account/logout/">退出</a></span>
            </div>


        {% else %}
            <div style="display:inline-block;position:absolute;right:0;">
                <span style="display:inline">未登陆</span> <a style="display:inline" href="/account/login/">登陆</a> <a style="display:inline" href="/account/regist/">注册</a>
            </div>
        {% endif %}
    </div>
</div>
    {% if username %}
        <div class="userinfo clearfix">
            <h2>用户名: {{username}}</h2>
            <h2>邮箱: {{email}}</h2>
            <h2>头像(单击即可修改头像):</h2>
            <img src="/media/{{img}}/" onclick="upload()">
            <!--div class="photo" style="background-image: url('{{ img }}')"-->
            <form action="" method="post" enctype="multipart/form-data" style="display:none">
                <input type="file" id="uploadimg" name="img" onchange="submitimg()" accept="image/*"><!--style="opacity:0"-->
                <!--label for="uploadimg" class='btn btn-success'>Choose a file</label-->
                <button type="submit" id="submit">上传</button>
            </form><br>
            <h3>上次登录时间: {{atime}}</h3>
            <h3>上次登录ip: {{ip}}</h3>
            <h3><a href="/account/logout/">退出登陆</a></h3>
        </div>


    {% else %}
        <div class="userinfo clearfix">
            <h1>未登陆</h1>
            <a href="/account/login/">这就去登陆</a>
            <a href="/account/regist/">这就去注册</a>
        </div>
    {% endif %}

    <div class="sweets">
        <form name="drawcards" id="drawcards" method="post" action="/drawcards/">
            <!--<button type="button" onclick="f1()">试试手气</button>-->
            <button type="button" onclick="f2()">试试手气</button>
            <button type="button" onclick="f3()">一会再试</button>
            <span id="draw_result"></span>
            {% for i in ret %}
                {{i.name}}
            {% endfor %}
        </form>
        <iframe id="iframe1" src="" width="0" height ="0" frameborder="0" >您的浏览器不支持呀</iframe>
        <p>目前共有 {{counts}} 位注册用户</p>
    </div>
    <div class="bei_an">
        <p>
<!--            <img src="https://csdnimg.cn/pubfooter/images/gongan.png" alt="备案图标">-->
            <a href="http://beian.miit.gov.cn/publish/query/indexFirst.action">京ICP备19036293号-1</a>
        </p>
    </div>

<script type="text/javascript" src="/static/js/upload.js/"></script>
</body>
</html>