<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
    <form action ='/account/reset_done/' method="post">
        <p>用户名: {{username}}</p>
        <p><label for="password">输入密码: <input type="password" name='password' id="password" required minlength="6"
                                              maxlength="20" placeholder="6-20位"></label></p>
        <p><label for="repassword">重复密码: <input type="password" name='repassword' id="repassword" minlength="6"
                                                required maxlength="20" placeholder="6-20位" onblur="check()"></label></p>
        <script type="text/javascript">function check(){
            if (document.getElementsByName('password')[0].value !== document.getElementsByName('repassword')[0].value) {
                alert("您两次输入的密码不一样！请重新输入.");
                document.getElementById("submit").disabled = true;
                document.getElementsById('repassword').focus();
            }
            else{
                document.getElementById("submit").disabled = false;
            }
        }
        </script>
        <input type="submit" name="submit" id="submit" value="更改密码"> <input type="reset">
    </form>
    <a href="/account/regist/"><p class='regist'>算了不找了 回注册页面</p></a>
    <a href="/account/login/"><p class='regist'>突然想起来了 回登录页面</p></a>
</body>
</html>