<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码申请</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
    <form action ='/account/sendresetmail/' method="post">
        <p>我记得用户名: <input type="text" name="username" autocomplete="off" placeholder="不超过12位"
                       autofocus="autofocus" maxlength="12"></p>
        <p>我记得邮箱: <input type="text" name="email" autocomplete="off" placeholder="不超过30位"></p>

        <input type="submit" value="发送找回链接"> <input type="reset">
    </form>
    <a href="/account/regist/"><p class='regist'>算了不找了 回注册页面</p></a>
    <a href="/account/login/"><p class='regist'>突然想起来了 回登录页面</p></a>
</body>
</html>