div.blank{
    height: 3rem;
}
div.main{
    margin: 0 10rem;
    border: 2px solid #88C6E5;
}
dd.chapter{
    margin: 1rem 1rem;
    width: 30%;
    font-size: 1.5rem;
    text-align: left;
    text-indent: 1rem;
    display: inline-block;
    border-bottom: 1px dashed #CCC;
}
dd.single_book{
    margin: 2rem 1rem;
    width: 30%;
    font-size: 1.5rem;
    text-align: left;
    text-indent: 1rem;
    display: inline-block;
}
div.book_name, div.chapter{
    text-align: center;
}
div.content_footer>a{
    display: inline-flex;
    margin:0 3rem;
}
div.content_footer>span{
    display: inline-flex;
    margin:0 3rem;
}
div.content_footer{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
div.book_content_info, div.content{
    border: 2px solid #88C6E5;
    margin:3rem 0;
}
span.arrow{
    margin:0 1rem;
}

dl.chapter_top{
    text-align: left;
}
dl.chapter_top>dt{
    text-align: center;
    margin-bottom: 1rem;
    background: #C3DFEA;
    font-size: 2rem;
}
div.books{
    margin-top:2rem;
}
div.where_am_i{
    text-indent:1rem;
}

