<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台 -- 胡萝呗</title>
    <link rel="stylesheet" href="/static/css/default.css">

    <script type="text/javascript" src="/static/js/vue.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/axios0.24.0.js"></script>
    <script type="text/javascript" src="/static/js/pre_common.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
    <div class="header clearfix">
        <div class="container">
            <div class="where_am_i">
                <a href="/">首页</a> >> <a href={{ url('background') }}>后台</a>
            </div>
            <div class="search_bar" id="search_bar" v-cloak>
                <form action="/search/" method="get">
                    <input type="text" class="search_input" :placeholder="search_place_holder" name="q" autocomplete="off">
                    <input type="submit" value="提交">
                </form>
            </div>
            <div class="user_info" id="user_info_bar" v-cloak>
                <div v-if="username">
                    <a class="username" href={{ url('account:profile') }}>[[ username ]]</a>
                    <a id="logout" href={{ url('account:logout') }}>退出</a>
                </div>
                <div v-else>
                    <a id="register" href={{ url('account:register') }}>注册</a>
                    <a id="login" href={{ url('account:login') }}>登录</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="left_side_navigation">
            <ul>
{#                <li><a class="choosing">书籍管理</a></li>#}
                <li><a href="{{ url('account:profile') }}" class="choosing">书籍管理</a></li>
                <li><a href="{{ url('account:profile') }}" class=>内容管理</a></li>
{#                <li><a href="{{ url('goods:carts') }}">购物车</a></li>#}
{#                <li><a href="{{ url('users:address') }}">收货地址</a></li>#}
{#                <li><a href="{{ url('users:orders') }}">全部订单</a></li>#}
{#                <li><a href="{{ url('account:reset_password') }}">重置密码</a></li>#}
            </ul>
        </div>
        <div class="content">
            <div id="app" v-clock>
                {{ csrf_input }}
                <div class="user_info">
                    <div><span>用户名: </span><span id="username">[[ username ]] </span></div>
                    <div><span>上次登录时间: </span><span id="last_login" >[[ last_login ]] </span></div>
                    <div><span>上次登录ip: </span><span id="login_ip">[[ login_ip ]] </span></div>
                    <div>
                        <span>邮箱: </span>
                        <input id="email" v-model="email" disabled>
                        <input type="button" @click="edit_email" value="修改">
                        <input type="button" @click="save_email" value="保存">
                        <span class="error_tip" v-show="show_email_msg" id="email_msg">[[ email_msg ]]</span>
                    </div>
                    <div>
                        <span>手机: </span>
                        <input id="mobile" v-model="mobile" disabled>
                        <input type="button" @click="edit_mobile" value="修改">
                        <input type="button" @click="save_mobile" value="保存">
                        <span class="error_tip" v-show="show_mobile_msg" id="mobile_msg">[[ mobile_msg ]]</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="sweets">
        <form name="drawcards" id="drawcards" method="post" action="/drawcards/">
            <!--<button type="button" onclick="f1()">试试手气</button>-->
            <button type="button" onclick="f2()">试试手气</button>
            <button type="button" onclick="f3()">一会再试</button>
            <span id="draw_result"></span>
            {% for i in ret %}
                {{i.name}}
            {% endfor %}
        </form>
        <iframe id="iframe1" src="" width="0" height ="0" frameborder="0" >您的浏览器不支持呀</iframe>
        <p>目前共有 {{counts}} 位注册用户</p>
    </div>
    <div class="bei_an">
        <img src="https://csdnimg.cn/pubfooter/images/gongan.png" alt="备案图标" class="inline">
        <a href="http://beian.miit.gov.cn/publish/query/indexFirst.action">京ICP备19036293号-1</a>
    </div>

    <script src="/static/js/common.js"></script>
</body>
</html>