<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>draw</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <style type="text/css">
        p{
            font-size: 14px;
        }
        form{
            width:90px;
            display: inline-block;
            margin-right:10px;
        }
    </style>
</head>
<body>
    {% for i in res %}
        <span style="color: {{ i.1}};background-color: {{i.2}};padding: .25rem .5rem;font-size: .875rem;line-height: 1.5;
        border-radius: .2rem;">{{i.0}}</span>
    {% endfor %}
    <p>已经有 <span style="color:orangered">{{no6}}</span> 抽没出6星</p>
    <p>已经有 <span style="color:orangered">{{no5}}</span> 抽没出5星</p>
    <form action="/drawcards/" method="post">
        <button>再来！</button>
    </form>
    <form action="/reset_record/" method="post">
         <button>重置血统！</button>
    </form>

</body>
</html>